pandas
numpy
openpyxl
xlsxwriter
sentence-transformers
spacy
jiwer
jellyfish
Levenshtein
scikit-learn==1.6.1
joblib
altair==4.2.2
streamlit>=1.30.0
xgboost
lightgbm
catboost
https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.8.0/es_core_news_md-3.8.0-py3-none-any.whl